html,body{
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(4,228px);
    grid-template-columns: 300px 1300px 300px;
    height: 100%;
}


.dashboard{
    grid-row:1/5;
    grid-column: 1;
    background-color: rgb(19, 137, 216);
    text-align: center;
    color: white;
    display: grid;
    grid-template-rows: repeat(4,228px);
    grid-template-columns: 300px;
}

.bar{
    grid-row:1;
    grid-column: 2/4;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(4,400px);
    grid-template-rows: 114px 114px;
    border: 1px solid ;
    box-shadow: 5px 10px #888888;
}

.sidebar{
    grid-row:2/5;
    grid-column: 3;
    background-color: rgb(173, 184, 177);
    display: grid;
    grid-template-rows: 50px 292px 50px 292px;
    grid-template-columns: 300px;
}

.item{
    grid-row: 2/5;
    grid-column: 2/4;
    background-color: rgb(173, 184, 177);
    display: grid;
    grid-template-columns: repeat(3,433px);
    grid-template-rows: 50px 200px 200px 200px 50px;
}

.dash-container{
    grid-row: 2;
}
#dash_bottom{
    margin-top: 50px;
}

#myname{
    grid-row: 1/3;
    grid-column: 4;
    text-align: center;
}

#title_name{
    grid-column:1/3 ;
    grid-row:2;
    margin-left:110px;
}

#project{
    grid-row: 1;
    margin-left: 20px;
}

#item1{
    grid-row: 2;
    height: 200px;
    grid-column:1;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#item2{
    height: 200px;
    grid-column:2;
    grid-row: 2;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#item3{
    height: 200px;
    grid-column:3;
    grid-row: 2;
    background-color: rgb(255, 255, 255);
     margin: 15px;
     border-radius: 10px;
     box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}


#item4{
    height: 200px;
    grid-column:1;
    grid-row: 3;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#item5{
    height: 200px;
    grid-column:2;
    grid-row: 3;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}


#item6{
    height: 200px;
    grid-column:3;
    grid-row: 3;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}


#announcement{
    grid-row: 1;
}

#box1{
    grid-column: 1;
    grid-row: 2;
    background-color: white;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#trending{
    grid-column: 1;
    grid-row: 3;
}

#box2{
    grid-column: 1;
    grid-row: 4;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

.button-container{
    grid-row: 2;
    grid-column: 4;
    margin-top: 60px;
}

#bt{
    color: white;
    background-color: rgb(19, 137, 216);
    margin: 10px;
    width: 80px;
    text-align: center;
    padding:10px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

#bt:hover{
    background-color: rgb(4, 78, 128);;
}